<h1>Bright Learning: the Private school alternative to K - 12</h1>
<h3>What is Bright Learning?</h3>
<p>Bright Learning is a subsidiary of Inquisicorp (Inquisicorp software division). Its sole purpose is to teach children faster and better than any other educator on the planet.</p>
<h3>Sounds awesome. . . but how does it work?</h3>
<p>So far we have a math program that pulls from some of the very best modern principles for speed learning:</p>
<ol><li>CrossFit style math to add in an interesting and extremely motivating framework to the more "traditional" approach.</li>
	<li>Math grounded in the real world. The single biggest question that math teachers hear day in and day out from kids failing at math: "Why do I have to learn this? I just don't see the point." By grounding math principles with the things around them your child will instantly "get it" and build more long term neurological connections. Text books. . . its time to take a back seat.</li>
	<li>Our smart algorithm will drip feed the problems based around the concepts that your student needs a refresher on. . . as they need a refresher (and not AFTER some test tells them they need to).</li>
	<li>Real time, trackable results you can see.</li>
</ol>